{{page-title "Reproduction"}}

<div class="uk-padding-large">
  <UkButton @label="danger" @color="danger" />
  <UkButton @label="primary" @color="primary" />
  <UkButton @label="default" @color="default" />
</div>

<div class="uk-padding-large">
  <h1>How it should look</h1>
  <img src="/assets/images/example.png" alt="example" />
</div>

{{outlet}}